@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
	font-family: eina;
	src: url(../assets/fonts/Eina03-SemiBold.ttf);
}

main {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
	font-family: eina;
}

/* Flex utility classes */

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.flexStartCenter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexBetweenStart {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.flexCenterStart {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.gridBorders {
	border-bottom: 1px solid #dce4ed;

	&:nth-last-child(-n + 2) {
		border-bottom: 0px;
	}

	&:nth-child(even):not(:last-child) {
		border-bottom: 1px solid #dce4ed;
	}

	&:nth-child(odd) {
		border-right: 1px solid #dce4ed;
	}
}

.caret {
	transition: all 0.3s ease-in-out;
}

.caretUp {
	transform: rotateZ(180deg);
}
